body {
    background-color: #1B9AF0;
    width: 585px;
    height: auto;
    padding: 0 10px 10px;
    font-weight: 700;
    color: white;
    font-family: Roboto, Helvetica, sans-serif;
}

form section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    border: 2px #fff solid;
    margin: 10px 0;
}

form section fieldset {
    align-self: center;
    border: none;
}

a.button1, input[type=button], input[type=submit] {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    background: transparent;
    margin: 0;
    outline: none;
}

a.button1:hover, input[type=button]:hover, input[type=submit]:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

@media all and (max-width: 30em) {
     a.button1, input[type=button], input[type=submit] {
        display: block;
        margin: 0.4em auto;
    }
}